{%- set host_id_source = address_source.split('.')[3:][0] -%}
{%- set host_id_destination = address_destination.split('.')[3:][0] -%}
## begin ionadmin
1 {{ host_id_source }} 'host.ionconfig'
s

a contact +1 +86400 {{ host_id_source }} {{ host_id_source }} 100000
a contact +1 +86400 {{ host_id_source }} {{ host_id_destination }} 100000
a contact +1 +86400 {{ host_id_destination }} {{ host_id_source }} 100000
a contact +1 +86400 {{ host_id_destination }} {{ host_id_destination }} 100000

a range +1 +86400 {{ host_id_source }} {{ host_id_source }} 1
a range +1 +86400 {{ host_id_source }} {{ host_id_destination }} 1
a range +1 +86400 {{ host_id_destination }} {{ host_id_source }} 1
a range +1 +86400 {{ host_id_destination }} {{ host_id_destination }} 1

m production 1000000
m consumption 1000000
## end ionadmin

## begin bpadmin
1
a scheme ipn 'ipnfw' 'ipnadminep'
a endpoint ipn:{{ host_id_source }}.0 q
a endpoint ipn:{{ host_id_source }}.1 q
a endpoint ipn:{{ host_id_source }}.2 q
a protocol tcp 1400 100
a induct tcp {{ address_source }}:4556 tcpcli
a outduct tcp {{ address_destination }}:4556 tcpclo
s
## end bpadmin

## begin ipnadmin
a plan {{ host_id_destination }} tcp/{{ address_destination }}:4556
## end ipnadmin