#cloud-config
package_reboot_if_required: false
package_update: true
package_upgrade: true
packages:
- openssh-server
- curl
- git
- ca-certificates
- make
- pkg-config 
- libnl-genl-3-dev 
- libevent-dev
- build-essential
ssh_pwauth: false
users:
- name: debian
  sudo: ALL=(ALL) NOPASSWD:ALL
  groups: users,admin
  lock_passwd: false
  ssh_authorized_keys:
  - "{{ getenv("SSH_PUBLIC_KEY") }}"
  shell: /bin/bash

disable_root: true
preserve_hostname: false
hostname: ion-node

write_files:
- path: /var/run/scripts/ion.sh
  content: |
    #!/bin/bash
    cd /home/debian
    wget https://github.com/nasa-jpl/ION-DTN/archive/refs/tags/ion-open-source-4.1.3.tar.gz
    tar -zxvf ion-open-source-4.1.3.tar.gz
    cd ION-DTN-ion-open-source-4.1.3
    make
    make install	
  permissions: '0755'
- path: /var/run/scripts/bp-sockets.sh
  content: |
    #!/bin/bash
    cd /home/debian
    git clone https://github.com/juanfraire/bp-sockets.git
  permissions: '0755'
- path: /var/run/scripts/custom.sh
  content: |
    #!/bin/bash
    curl -sS https://starship.rs/install.sh | sh -s -- -y
    echo 'eval "$(starship init bash)"' >> /home/debian/.bashrc
    curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh
  permissions: '0755'

runcmd:
- apt-get -y install linux-headers-$(uname -r)
- bash /var/run/scripts/ion.sh
- bash /var/run/scripts/bp-sockets.sh
- bash /var/run/scripts/custom.sh